.main {
  padding: 20px;
  margin-top: 120px;
}
.container {
  padding: 20px;
  margin-top: 30px;
}

.posts {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 70px;
  padding: 0;
  list-style: none;
}

.pageNumber {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 15px;
  margin: 12px;
}

.selectedPage {
  text-decoration: underline;
}

.notFound > h2 {
  font-size: 60px;
  font-weight: 600;
  color: #131032;
}

.notFound span {
  color: #fe6257;
}
