MONGODB_URI= Your Mongo Db url
PORT= server port
BASE_URL=http://localhost: your server port /
REACT_URL=http://localhost: your react port/


AUTH_EMAIL= your email which will send verification links
AUTH_PASSWORD= email password

AUTH_CLIENT_ID= OAuth client Id
AUTH_CLIENT_SECRET= OAuth client secret
AUTH_REFRESH_TOKEN= OAuth refresh token

ACCESS_TOKEN_SECRET= secret for creating jwt access token
REFRESH_TOKEN_SECRET= secret for creating jwt refresh token

GOOGLE_PROJECT_ID= ""
KEY_FILE_NAME= path to configurations json file
BUCKET_ID= Id of bucket where must be stored images